{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel = "icon" href = "{% static 'resources/twitterbird.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lato:400,700' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <title>Not Twitter</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-light navbar-small" style = "border-bottom: 1px solid #999999; padding-top: 0px; padding-bottom: 0px;">
    <a class="navbar-brand" href="{% url 'tweets:index' %}" style = "margin-left: 326px;"><img src = "{% static 'resources/twitterbird.png' %}" style = "height: 29px; margin: 0px; padding: 0px;"/></a>
    <a href = "{% url 'tweets:index' %}" class = "link">
      <i class="fa fa-home textlink link" style = "font-size: 20px; margin-left: 10px; margin-top: -1px;">
        <span style = "font-family: 'Lato'; font-size: 20px;">  Home</span>
      </i>
    </a>
    <a href = "{% url 'tweets:signup' %}">
      <span style = "font-family: 'Lato'; font-size: 20px; margin-left: 355px;" class = 'link textlink'>Sign Up</span>
    </a>
    <a href = '{% url "tweets:login" %}'>
      <span style = "font-family: 'Lato'; font-size: 20px; margin-left: 10px;" class = 'link textlink'>Login</span>
    </a>
  </nav>

    <div class = "container" style = "margin-left: 100px; padding-top: 15px;">
      <p style = "text-align: center;">You have been successfully logged out.</p>
    </div>

</body>
</html>
