body {
  background-color: #FFFFFF
}

table {
  border-collapse: collapse;
  width: 568px;
  padding: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFFFFF;
  margin-left: 25px;
  margin-top:10px;
}

p, b, th, td, i {
  font-family: "Lato";
  font-size: 16px;
}

tr {
  width: 90vw;
  border-top: 0px solid white;
  border-left: 0px solid white;
  border-right: 0px solid white;
  border-bottom: 2px solid #EEEEEE;
}

p {
  padding: 2.5px;
}

b {
  padding: 7px;
}

.tweet {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 10px;
}
.pub_date {
  color: #AAAAAA;
  font-size: 12px;
  margin-top: 5px;
  padding-left: 3.5px;
  position: relative;
  top: -1px;
}

.user_handle {
  color: #909090;
  font-size: 14px;
  margin-top: 5px;
  padding-left: 0px;
  position: relative;
  top: -1px;
}

.profilepicture {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 0px;
  margin-right: 0px;
  top: 10px;
}

.topprofilepicture {
  position: relative;
  width: 35px;
  height: 45px;
  margin: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 0px;
  margin-right: 0px;
  top: 10px;
}

.twitterlogo {
  width: 40px;
}

.tweet_text {
  margin-left: 5px;
  padding: 7px;
  margin-top: -10px;
  padding-top: 0px;
}

.tweet_body {
  position: relative;
  width: 490px;
  top: -3px;
  left: 68px;
}

.user_tag {
  padding: 7px;
  padding-top: 0px;
  margin-left: 5px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.navbar-small {
  border-bottom: 1px solid black;
  height: 40px;
}

.link:hover {
  color: #007bff;
}

.textlink {
  color: #000000;
}

.textlink:hover {
  text-decoration: underline;
}

.replieslink {
  color: #000000;
  text-decoration: none;
}

.replieslink:hover {
  text-decoration: none;
}

.nounderline {
  text-decoration: none !important;
}

.source_tweet_text {
  position: relative;
  font-weight: normal;
  font-size: 20px;
  top: 14px;
  padding-left: 0px;
  margin-left: 18px;
}

.source_pub_date {
  color: #AAAAAA;
  padding-left: 0px;
  margin-left: 18px;
  margin-top: 10px;
}

.source_user_handle {
  position: relative;
  font-weight: normal;
  font-size: 15px;
  top: 20.5px;
  left: -121px;
  padding-left: 0px;
  margin-left: 0px;
  width: 200px;
  text-align: left;
  margin-right: 0px;
  padding-right: 0px;
}

.source_poster {
  font-size: 18px;
}

.no_bold {
  font-weight: normal;
}
